@charset "utf-8";
/* CSS Document */
html,body{height:2500px;
width:1400px;
background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	}
 

#wrapper{
	width:1400px;
	height:2500px;
	padding:0;
	margin:0;
	overflow:hidden;
}
header{
	 /*Opacity start*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.50;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    /*Opacity end*/
	width:1425px;
	height:100px;
	background:#fff;
	color:#000;
	line-height:100px;
	position:fixed;
}
.container{
	width:1400;
	margin:auto;

}
#logo{
	font-family:"Comic Sans MS", cursive;
	font-size:56px;
	float:left;
}
nav{
	float:right;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:24px;
	
}
nav a{
	color:#000;
	margin:0 15px;
	text-decoration:none;
}
nav a:hover{
	color:#3b5998;
}
	
	#logo1{
		float:left;}
.boxed {
  border: 1px Black ;
  background:#F00;
  color:#FFF;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.50;
    -khtml-opacity: 0.5;
    opacity: 0.5;
	font-size:50px;
}
#box2 {
  border: 1px Black ;
  background:#fff;
  color:#000;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.50;
    -khtml-opacity: 0.5;
    opacity: 0.5;
	font-size:50px;}
	
	#box3 {
  border: 1px Black ;
  background:#090;
  color:#fff;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.50;
    -khtml-opacity: 0.5;
    opacity: 0.5;
	font-size:50px;}
	
	